.featured{
    margin-top: 50px;
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 1;
  }
  
  .featuredItem{

    position: relative;
    color: white;
    height: 250px;
    flex:1
  }
  
  .featuredImg{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .featuredTitles{
    position: absolute;
    bottom: 20px;
    left: 20px;
  }