.mail{
    width: 100%;
    margin-top: 50px;
    /* background:linear-gradient(to bottom,rgb(255, 255, 255) 0%, rgb(252, 140, 136) 99%);  */
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .mailTitle{
    color:#fc7873;
  }
  .mailDesc{
    color:#fc7873;
    
  }
  .mailInputContainer>input{
    color: #fca8a5;
    width: 300px;
    height: 30px;
    padding: 10px;
    border: 1px solid red;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  .mailInputContainer>button{
    height: 50px;
    background-color: #fca8a5;
    color: white;
    font-weight: 500;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
  }